<h1>Welcome to JET Recipe Service!</h1>
<br>
<h3>You can look for recipes here:</h3>
<br>


{{#if message}}
<p class="indexerror">{{message}}</p>
{{/if}}

{{> search}}

<br>
<p>...but to save recipes you will need to register. </p>
<br>