<nav>
    <ul>
        <li>
            <h2 class="home"><a href="/">JET Recipe Service</a></h2>
        </li>
        {{#if user}}
        <li>
            {{#if user.adminRights}}
            <a href="/admin" id="adminDashboardLink"><button>Admin Dashboard</button></a>
        </li>
        <li><a href="/user_dashboard" id="userDashboardLink"><button>User Dashboard</button></a></li>
        {{else}}
        <li><a href="/user_dashboard" id="userDashboardLink"><button>User Dashboard</button></a></li>
        {{/if}}
        <li><a href="/update" id="dashboardLink"><button>Update your details</button></a></li>
        <li>
            <form id="logoutForm" action="/logout" method="POST"><button type="submit">Log out</button></form>
        </li>
        {{else}}
        <li><a href="/login" id="loginLink"><button>Log in</button></a></li>
        <li><a href="/register" id="registerLink"><button>Register</button></a></li>
        {{/if}}
    </ul>
</nav>