{{#if message}}
<h1>{{message}}</h1>
{{else}}
<h1>Recipe "{{ recipeName }}" has been saved!</h1>
{{/if}}

<br>

<div class="back-to-button">
    <a href="/user_dashboard" class="button">Back to user dashboard</a>
</div>