<!-- Validation Error message-->
{{#if errors}}
   <div id="error-container" class="errors">
    <ul>
      {{#each errors}}
        <li>{{ this.msg }}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<div class="form-card">
    <form id="registerForm" action="/register" method="POST">
        <label for="name"><strong>Name:</strong></label>
        <input type="text" id="name" name="name" required><br>

        <label for="email"><strong>Email:</strong></label>
        <input type="email" id="email" name="email" required><br>

        <label for="password"><strong>Password:</strong></label>
        <input type="password" id="password" name="password" required><br>

        {{> user_preferences}} <button type="submit"><strong>Register</strong></button>
        <button type="button" onclick="window.location.href='/';"><strong>Cancel</strong></button>
    </form>
</div>

<script>
  // Hide error message after 5 seconds
  setTimeout(function() {
    var errorContainer = document.getElementById('error-container');
    if (errorContainer) {
      errorContainer.style.display = 'none';
    }
  }, 5000); // 5000 ms = 5 sekuntia
</script>