<div class="search">
    <form action="./search" method="GET">
        <input type="text" placeholder="Search recipes by cuisine type" name="cuisineType">
        <input type="text" placeholder="Search recipes by meal type" name="mealType">
        <input type="text" placeholder="Search recipes by dish type" name="dishType">
        <input type="text" placeholder="Search recipes by ingredient" name="ingredients">
        <input type="text" placeholder="Search recipes by name" name="name">
        <button>
            <p>Search</p>
        </button>
    </form>
</div>