<div class="search">
    <form action="./search" method="GET">
        <input type="text" placeholder="Search recipes by cuisine type" name="cuisineType">
        <button>
            <p>Search</p>
        </button>
    </form>
</div>