<div class="form-card">
    <form id="updateForm" action="/update_user" method="POST">
        <label for="name"><strong>Name:</strong></label>
        <strong>{{user.name}}</strong><br>
        <br>
        <label for="password"><strong>Password:</strong></label>
        <input type="text" name="password" placeholder="New password"><br>
        <br>
        <label for="email"><strong>Email:</strong></label>
        <strong>{{user.email}}</strong><br>
        <br>

        {{#if showPasswordInput}}
        <input type="hidden" name="password" value="{{user.password}}">
        {{/if}}

        {{> user_preferences}}

        <button type="submit"><strong>Update Preferences</strong></button>
    </form>
</div>