<h1>Recipe removed</h1>
<p>The recipe "{{deletedRecipeName}}" has been removed from your saved recipes.</p>

<br>
<div class="admin-form-card">
    <a href="/saved_recipes" class="button">Back to your saved recipes</a>
</div>
<br>
<div class="admin-form-card">
    <a href="/fave_recipes" class="button">Back to your favorite recipes</a>
</div>
<br>
<div class="back-to-button">
    <a href="/user_dashboard" class="button">Back to user dashboard</a>
</div>