<label for="recipePreferences"><strong>What kind of recipes do you like?</strong></label><br>
<input type="checkbox" {{#ifIn "Biscuits and cookies" userToBeUpdated.recipeInterests}} checked {{/ifIn}}
    id="Biscuits and cookies" name="recipePreferences" value="Biscuits and cookies">
<label for="Biscuits and cookies">Biscuits and cookies</label><br>

<input type="checkbox" {{#ifIn "Bread" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Bread"
    name="recipePreferences" value="Bread">
<label for="Bread">Bread</label><br>

<input type="checkbox" {{#ifIn "Condiments and sauces" userToBeUpdated.recipeInterests}} checked {{/ifIn}}
    id="Condiments and sauces" name="recipePreferences" value="Condiments and sauces">
<label for="Condiments and sauces">Condiments and sauces</label><br>

<input type="checkbox" {{#ifIn "Desserts" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Desserts"
    name="recipePreferences" value="Desserts">
<label for="Desserts">Desserts</label><br>

<input type="checkbox" {{#ifIn "Drinks" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Drinks"
    name="recipePreferences" value="Drinks">
<label for="Drinks">Drinks</label><br>

<input type="checkbox" {{#ifIn "Salad" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Salad"
    name="recipePreferences" value="Salad">
<label for="Salad">Salad</label><br>

<input type="checkbox" {{#ifIn "Soup" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Soup"
    name="recipePreferences" value="Soup">
<label for="Soup">Soup</label><br>

<input type="checkbox" {{#ifIn "Sweets" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Sweets"
    name="recipePreferences" value="Sweets">
<label for="Sweets">Sweets</label><br>


<label><strong>Would you like to receive recommendations of recipes that match your
        preferences?</strong></label><br>
<input type="radio" id="recommendationsYes" name="receiveRecommendations" value="true" {{#ifEqual
    userToBeUpdated.receiveRecommendations true }}checked{{/ifEqual}} required>
<label for="recommendationsYes">Yes</label>
<input type="radio" id="recommendationsNo" name="receiveRecommendations" value="false" {{#ifEqual
    userToBeUpdated.receiveRecommendations false }}checked{{/ifEqual}} required>
<label for="recommendationsNo">No</label><br>