<label for="recipePreferences"><strong>What kind of recipes do you like?</strong></label><br>
<input type="checkbox" {{#ifIn "salad" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="salad"
    name="recipePreferences" value="salad">
<label for="salad">Salad</label><br>

<input type="checkbox" {{#ifIn "bread" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="bread"
    name="recipePreferences" value="bread">
<label for="bread">Bread</label><br>
<input type="checkbox" {{#ifIn "Bread" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="Bread"
    name="recipePreferences" value="Bread">
<label for="Bread">Bread</label><br>

<input type="checkbox" {{#ifIn "drinks" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="drinks"
    name="recipePreferences" value="drinks">
<label for="drinks">Drinks</label><br>
<input type="checkbox" {{#ifIn "Condiments and sauces" userToBeUpdated.recipeInterests}} checked {{/ifIn}}
    id="Condiments and sauces" name="recipePreferences" value="Condiments and sauces">
<label for="Condiments and sauces">Condiments and sauces</label><br>

<input type="checkbox" {{#ifIn "bread" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="bread"
    name="recipePreferences" value="bread">
<label for="bread">Bread</label><br>

<input type="checkbox" {{#ifIn "drinks" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="drinks"
    name="recipePreferences" value="drinks">
<label for="drinks">Drinks</label><br>

<input type="checkbox" {{#ifIn "sandwiches" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="sandwiches"
    name="recipePreferences" value="sandwiches">
<label for="sandwiches">Sandwiches</label><br>

<input type="checkbox" {{#ifIn "soup" userToBeUpdated.recipeInterests}} checked {{/ifIn}} id="soup"
    name="recipePreferences" value="soup">
<label for="soup">Soup</label><br>


<label><strong>Would you like to receive recommendations of recipes that match your
        preferences?</strong></label><br>
<input type="radio" id="recommendationsYes" name="receiveRecommendations" value="true" {{#ifEqual
    userToBeUpdated.receiveRecommendations true }}checked{{/ifEqual}} required>
<label for="recommendationsYes">Yes</label>
<input type="radio" id="recommendationsNo" name="receiveRecommendations" value="false" {{#ifEqual
    userToBeUpdated.receiveRecommendations false }}checked{{/ifEqual}} required>
<label for="recommendationsNo">No</label><br>