<h1>User Added</h1>
<p>The user "{{addedUserName}}" has been added successfully.</p>
<br>
<div class="admin-form-card">
    <a href="/admin/users" class="button">USER DATABASE</a>
</div>
<br>
<div class="admin-form-card">
    <a href="/admin/recipes" class="button">RECIPE DATABASE</a>
</div>