<label for="recipePreferences"><strong>What kind of recipes do you like?</strong></label><br>
<input type="checkbox" {{#ifIn "salad" user.recipeInterests}} checked {{/ifIn}} id="salad" name="recipePreferences"
    value="salad">
<label for="salad">Salad</label><br>

<input type="checkbox" {{#ifIn "meat" user.recipeInterests}} checked {{/ifIn}} id="meat" name="recipePreferences"
    value="meat">
<label for="meat">Meat</label><br>

<input type="checkbox" {{#ifIn "fish" user.recipeInterests}} checked {{/ifIn}} id="fish" name="recipePreferences"
    value="fish">
<label for="fish">Fish</label><br>

<input type="checkbox" {{#ifIn "vegetarian" user.recipeInterests}} checked {{/ifIn}} id="vegetarian"
    name="recipePreferences" value="vegetarian">
<label for="vegetarian">Vegetarian</label><br>

<input type="checkbox" {{#ifIn "pizza" user.recipeInterests}} checked {{/ifIn}} id="pizza" name="recipePreferences"
    value="pizza">
<label for="pizza">Pizza</label><br>

<input type="checkbox" {{#ifIn "pastries" user.recipeInterests}} checked {{/ifIn}} id="pastries"
    name="recipePreferences" value="pastries">
<label for="pastries">Pastries</label><br>

<input type="checkbox" {{#ifIn "desserts" user.recipeInterests}} checked {{/ifIn}} id="desserts"
    name="recipePreferences" value="desserts">
<label for="desserts">Desserts</label><br>

<label><strong>Would you like to receive recommendations of recipes that match your
        preferences?</strong></label><br>
<input type="radio" id="recommendationsYes" name="receiveRecommendations" value="true" {{#ifEqual
    user.receiveRecommendations true }}checked{{/ifEqual}} required>
<label for="recommendationsYes">Yes</label>
<input type="radio" id="recommendationsNo" name="receiveRecommendations" value="false" {{#ifEqual
    user.receiveRecommendations false }}checked{{/ifEqual}} required>
<label for="recommendationsNo">No</label><br>