<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JET Recipe Service</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        {{> nav}}
    </header>

    <main>
        {{#if user}}
        <div id="userBox">
            <p class="user-name">Currently logged in: <br> {{user.name}}</p>
        </div>
        {{!-- {{> search}} --}}
        {{/if}}

        {{{body}}}
    </main>

    <footer>
        <p>&copy;2024 Created by Tanja Eriksson, Jenna Korhonen and Erja Pisilä
            <a href="/JetAccessibilityStatement.html" id="accessibilityStatementLink">Accessibility Statement</a>
        </p>
    </footer>

</body>

</html>