<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JET Recipe Service</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h2 class="home"><a href="/">JET Recipe Service</a></h2>
        <nav>
            <ul>
                {{#if user}}
                <li><a href="/update" id="dashboardLink"><button>Update your details</button></a></li>
                <li>
                    <form id="logoutForm" action="/logout" method="POST"><button type="submit">Log out</button></form>
                </li>
                {{else}}
                <li><a href="/login" id="loginLink"><button>Log in</button></a></li>
                <li><a href="/register" id="registerLink"><button>Register</button></a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy;2024 Created by Tanja Eriksson, Jenna Korhonen and Erja Pisilä</p>
    </footer>

</body>

</html>