body {
    background-color: rgb(216, 204, 242);
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top: 40px;
    margin-bottom: 15px;
    align-content: center;
    margin-left: 30px;
    padding-left: 84px;
}

p {
    font-weight: bold;
    font-size: large;
}

.home a {
    float: left;
    color: #fff;
    margin-left: 20px;
    margin-top: 12px;
    vertical-align: middle;
}

header {
    background-color: #494444;
    color: #fff;
    padding: 10px;
    text-align: right;
    padding-right: 30px;
    height: 60px;
}

nav ul {
    list-style: none;
}

nav ul button {
    vertical-align: middle;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav button {
    width: 120px;
    height: 40px;
    background-color: bisque;
    font-weight: bolder;
    vertical-align: middle;
    cursor: pointer;
}

#logoutForm {
    display: inline;
    height: 15px;
}

main {
    padding: 20px;
    text-align: center;
}

#userBox {
    height: auto;
    width: auto;
    background-color: rgb(241, 187, 126);
    padding: 5px 10px;
    border: 2px solid #9e9898;
    border-radius: 7px;
    float: right;
    align-content: center;
}

#userBox .user-name {
    font-size: 14px;
    font-weight: bolder;
}

.admin-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 160px;
}

.error-box p {
    margin: 0;
    color: red;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
}

.indexerror {
    color: red; 
    border: 2px solid black; 
    padding: 15px; 
    margin-top: 30px;
    margin-bottom: 15px; 
    width: 200px;
    margin: auto;
}

footer {
    background-color: #494444;
    color: #fff;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
}

footer p {
    font-weight: lighter;
    font-size: medium;
    padding-left: 5px;

}

#accessibilityStatementLink {
    color: #fff;
    float: right;
    padding-right: 25px;
}

form {
    width: 60%;
    margin: 0 auto;
}

form label, form input, form select, form button {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input {
    margin-left: 8px;
}

form button {
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.form-card form button[type="submit"]:hover {
    background-color: #b2aaaa;
  } 

  .form-card {
    width: 600px;
    margin: 40px auto; 
    border: 5px solid #666363; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

.form-card form {
    margin-top: 20px; 
}

.admin-form-card, .back-to-button {
    width: 250px;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 40px auto; 
    border: 5px solid #666363; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

.admin-form-card a, .back-to-button a {
    font-size: x-large;
    margin-top: 20px;
    align-content: center;
    font-weight: bolder;
    vertical-align: middle;

}
.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    display: flex;
    width: 1;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    box-shadow: black;
    align-items: flex-start;
    margin: 1rem;
    width: max-content;
    border-radius: 1rem;
}

.recipeName {
    font-size: 2rem;
    font-weight: 700;
}

.recipe * {
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.save::before {
    content: "⭐ ";
}

.save {
    padding: 1rem;
    background-color: rgb(255, 224, 229);
    border-color: black;
    border-radius: 1rem;
    text-decoration: none;
    color: black
}

.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center; 
    margin: 1rem;
    width: max-content;
    border-radius: 1rem;
    max-width: 400px;
    text-align: center; 
}

.recipe-card * {
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.recipe-section {
    display: flex;
    flex-wrap: wrap;
}

.recipe-card p {
    font-size: 0.9rem; 
}

.recipe-card ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.recipe-card ul li {
    margin-bottom: 0.5rem; 
}

.no {
    margin: auto;
}

#user-table.table {
    margin: auto;
    margin-bottom: 30px;
}

.table {
    border-collapse: collapse;
    width: 80%;
}

.table th, .table td {
    border: 2px solid black;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.table th {
    background-color: #f4d8c6;
    height: 50px;
}

th, td {
    border: 2px solid rgb(46, 36, 36);
    padding: 0;
    text-align: center;
}

td img {
    width: 30px;
    height: 30px;
}

.deleteColumn, .updateColumn {
    width: 90px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    }

.updateButton {
    width: 90px;
    height: 40px;
    cursor: pointer;
    }

.addButton, .searchButton {
    width: 120px;
    height: 70px;
    font-size: 16px;
    border: 3px solid #666363;
    cursor: pointer;
    align-content: center;
    font-weight: bolder;
    vertical-align: middle;
    padding-top: 7px;
    margin-right: 20px;
}

.saveButton, .faveButton {
    width: 120px;
    height: 70px;
    font-size: 16px;
    border: 3px solid #666363;
    cursor: pointer;
    justify-content: center;
}

.addButton {
    margin-bottom: 80px;
}
    
.addButton[type="submit"]:hover {
    background-color: #cfc7c7;
  } 

.searchButton[type="submit"]:hover {
    background-color: #cfc7c7;
  } 

#recipe-table {
    margin: auto;
    width: 95%;
    margin-bottom: 30px;
}

#recipe-table td {
    padding: 8px;
}

.recipeListImage {
    height: 120px;
    width: 160px;
}

.recipeButton {
    width: 250px;
    height: 90px;
    margin: 40px auto;
    border: 5px solid #666363;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
    text-align: center; 
    font-size: 16px; 
    line-height: 70px; 
    cursor: pointer;
}

.back-button{
    width: 250px;
    height: 50px;
    margin: 40px auto;
    border: 5px solid #666363;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
    text-align: center; 
    font-size: 16px; 
    line-height: 50px; 
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
}

.search-section {
    flex-grow: 1; 
    padding-left: 200px;
    float: right;
    width: 180%;
}

.button-section {
    padding-right: 80px;
    padding-top: 40px;
    float: left;
    width: 40%;
}

.viewSavedButton, .viewFavesButton {
    width: 250px;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 40px auto; 
    border: 5px solid #666363; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

#specialButton {
    width: 120px;
    height: 70px;
}

.star-icon {
    color: gold; 
    font-size: 60px;
}

