body {
    background-color: rgb(216, 204, 242);
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
}

p {
    font-weight: bold;
    font-size: large;
}

.home a {
    float: left;
    color: #fff;
    margin-left: 20px;
    margin-top: 12px;
    vertical-align: middle;
}

header {
    background-color: #494444;
    color: #fff;
    padding: 10px;
    text-align: right;
    padding-right: 30px;
    height: 60px;
}

nav ul {
    list-style: none;
}

nav ul button {
    vertical-align: middle;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav button {
    width: 120px;
    height: 40px;
    background-color: bisque;
    font-weight: bolder;
    vertical-align: middle;
}

#logoutForm {
    display: inline;
    height: 15px;
}

main {
    padding: 20px;
    text-align: center;
}

#userBox {
    height: auto;
    width: auto;
    background-color: rgb(241, 187, 126);
    padding: 5px 10px;
    border: 2px solid #9e9898;
    border-radius: 7px;
    float: right;
    align-content: center;
}

#userBox .user-name {
    font-size: 14px;
    font-weight: bolder;
}

.admin-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 160px;
}

.error-box {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.error-box p {
    color: red;
    margin: 0;
}

footer {
    background-color: #494444;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
}

footer p {
    font-weight: lighter;
    font-size: medium;
}

form {
    width: 60%;
    margin: 0 auto;
}

form label, form input, form select, form button {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input {
    margin-left: 8px;
}

form button {
    width: 120px;
    height: 40px;
}

.form-card form button[type="submit"]:hover {
    background-color: #b2aaaa;
  } 

  .form-card {
    width: 600px;
    margin: 40px auto; 
    border: 5px solid #666363; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

.form-card form {
    margin-top: 20px; 
}

.admin-form-card {
    width: 250px;
    height: 70px;
    padding-top: 35px;
    margin: 40px auto; 
    border: 5px solid #666363; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: bisque;
}

.admin-form-card a {
    font-size: x-large;
    margin-top: 50px;
    align-content: center;
    font-weight: bolder;
    vertical-align: middle;

}
.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    display: flex;
    width: 1;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    box-shadow: black;
    align-items: flex-start;
    margin: 1rem;
    width: max-content;
    border-radius: 1rem;
}

.recipeName {
    font-size: 2rem;
    font-weight: 700;
}

.recipe * {
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.save::before {
    content: "⭐ ";
}

.save {
    padding: 1rem;
    background-color: rgb(255, 224, 229);
    border-color: black;
    border-radius: 1rem;
    text-decoration: none;
    color: black
}

#user-table.table {
    margin: auto;
    margin-bottom: 100px;
}

.table {
    border-collapse: collapse;
    width: 80%;
}

.table th, .table td {
    border: 2px solid black;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.table th {
    background-color: #f4d8c6;
    height: 50px;
}

th, td {
    border: 2px solid rgb(46, 36, 36);
    padding: 0;
    text-align: center;
}

td img {
    width: 30px;
    height: 30px;
}

.deleteColumn, .updateColumn {
        width: 90px;
        display: flex;
        justify-content: center; 
        align-items: center;
        margin: auto;
    }

    .updateButton {
        width: 90px;
        height: 40px;
    }
    